{% extends "base.html" %}

{% block item %}
<v-list two-line :style="{'padding': '8px'}">
{% for article in articles %}
    {% if loop.first %}
        <v-list-tile @click="get('{{ article.url }}')">
    {% else %}
        <v-list-tile @click="get('{{ article.url }}')">
    {% endif %}
      <v-list-tile-content>
        <v-list-tile-title>{{ article.title}}</v-list-tile-title>
        <v-list-tile-sub-title class="text--primary">{{ article.date|strftime('%Y/%m/%d') }}</v-list-tile-sub-title>
        <v-list-tile-sub-title>{{ article.summary}}</v-list-tile-sub-title>
      </v-list-tile-content>
    </v-list-tile>
    <v-divider></v-divider>
{% endfor %}
</v-list>
{% endblock item %}